body {
  background: white;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #35363A;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar h1 {
  font-family: 'Goldman', cursive;
  margin-left: 20px; 
  color: white;
  letter-spacing: 3px;
}

.navbar a {
  text-decoration: none;
}

.navlinks ul li{
  display: inline-flex;
  justify-content: space-around;  
  margin: 12px 20px;
}

.navlinks ul {
  margin-right: 20px;
  font-family: 'Goldman', cursive;
}

.navlinks a {
  color: white;
  font-size: 20px;
}

.navlinks a:hover {
  color: white;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff;
  transition: 0.5s;
}



.checkButton {
  font-size: 28px;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  display: none;
}

.burgerMenu {
  display: none;
}

.burgerLinks {
  display: none;
  font-family: 'Goldman', cursive;
}

#check {
  display: none;
}

@media only screen and (max-width: 950px) {
  .navlinks ul {
      display: none;
  }

  .checkButton {
      display: initial;
      color: white
  }

  .burgerMenu {
      display: initial;
  }

  .navbar h1 {
      font-size: 20px;
  }

  .burgerLinks {
      display: none;
      width: 100%;
      background-color: #35363A;
      justify-content: center;
      padding-top: 55px;
      position: fixed;
      z-index: 1;
      
  }

  .burgerLinks ul li:hover {
      background-color: #3d4447;
      transition: .7s;
  }

  .burgerLinks li {
      list-style: none;
      padding: 20px;

  }

  .burgerLinks ul li{
      width: 100vw;
      text-align: center;
  }

  .burgerLinks a {
      text-align: center;
      text-decoration: none;
      color: white;
      margin-right: 35px;

  }

  .burgerLinks.active {
      display: flex;
  }

  .skills p{
    margin-top: -10px;
  }

  .about ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 300px;

  }

  .about ul li{
    display: flex;
    align-items: flex-start;
    height: 20px;
  }

  .about ul li a {
    margin-top: 15px;
    margin-right: 75px;
    font-size: 16px;

  }

  .testimonialContainer h1 {
    margin-bottom: 65px;
  }
 


}



/* ------   About Me Sectiom -----*/

.about {
    padding-top: 30px;
}

.about h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 200;
  margin-top: 50px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  width: 50vw;
  
}

.about p {
  width: 50%;
  margin: 0 auto;
  line-height: 30px;
  text-indent: 30px;
  font-size: large;
}


.about ul{
  display: flex;
  justify-content: center;
 
  
}

.about ul li {
  padding: 20px;
  margin: 20px;
  list-style: none;
  font-size: 20px;
  
}

.about ul li a {
  color: black;
}

.about .fa {
  margin: 10px;
}

.about i {
  font-size: 25px ;
}

/* --------  Skills ------- */


.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.skills h2{
  text-align: center;
  width: 20%;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
}

.skills .img{
  margin: 0 20px;
}

.skills .img img {
  max-height: 100px;
  height: 10vw;
  padding: 20px;
}

.skills p{
  text-align: center;
  margin-top: -5px;
}


/* ------  Projects ------- */

.projects h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 200;
  border-bottom: 1px solid black;
  width: 50vw;
  padding-top: 55px;
}

.projectMain {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectContainer {
  width: 450px;
  height: 550px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 20px lightgray;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  
}

.imageContainer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.buttonAndLink {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 25px;
  width: 99%;
}

.buttonAndLink a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.buttonAndLink button {
  background: #3d4447;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  transition: .5s;
  box-shadow: 0 0 0 1px #353535;
  letter-spacing: 2px;
  
}

.buttonAndLink button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgb(93, 93, 93);
  
}

.descriptionContainer h3 {
  margin: 10px;
  padding: 5px;
  font-size: 22px;
}

.descriptionContainer p {
  font-size: 18px;
  margin: 10px 10px 0 10px; 
  padding-top: 5px;
}

.languages {
  text-align: center;
}




/*  Testimonial Section  */

.testimonialContainer {
    width: 100%;
    position: relative;
  }
  
 .testimonialContainer h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 200;
  border-bottom: 1px solid black;
  width: 50vw;
  padding-left: 20px;
  padding-top: 55px;
 }

 .testimonialContainer h2{
   text-align: center;
 }
  
  .wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .wrapper .testimonialContainer {
    position: relative;
    max-width: 450px;
    color: #fff;
    background: #222;
    margin: 50px 20px;
    padding: 30px 20px;
    border-radius: 3px;
    flex-grow: 1;
  }
  
  .wrapper .testimonialContainer .testimonial {
    width: 100%;
    display: block;
    justify-content: center;
    position: relative;
    top: -100px;
  }
  
  .wrapper .testimonialContainer .testimonial .testimonialImage {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .wrapper .testimonialContainer .testimonial .testimonialImage img {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  
  .wrapper .testimonialContainer .testimonial .testimonialImage:hover img {
    filter: saturate(140%);
    transform: scale(0.95);
  }
  
  .wrapper .testimonialContainer .testimonial h2 {
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  
  .wrapper .testimonialContainer p {
    padding: 0 10px;
    margin-top: -90px;
  }
  
  .rodrigoTest {
    line-height: 42px;
    margin-bottom: 40px;
  }
  
  .javierTest {
    margin-bottom: 8px;
    line-height: 22px;
  }
  
  .abbottTest {
    line-height: 20px;
  }
  
  .wrapper .testimonialContainer .left {
    font-size: 30px;
    display: block;
    text-align: left;
    color: #3b7cf5;
  }
  
  .wrapper .testimonialContainer .right {
    font-size: 30px;
    display: block;
    text-align: right;
    color: #3b7cf5;
  }
  
  .wrapper .testimonialContainer .social {
    width: 100%;
    text-align: center;
  }
  
  .wrapper .testimonialContainer .social i {
    font-size: 1.2em;
    color: #fff;
    padding: 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.085);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .wrapper .testimonialContainer .social i:hover {
    background: #3b7cf5;
  }


/* ------  Contact ------- */

.contactContainer{
    margin: 0 auto;
    width: 90%;
}

.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 200;
  border-bottom: 1px solid black;
  width: 50vw;
  padding-left: 20px;
 }

.contactContainer p {
  width: 75%;
  margin: 0 auto;
  
  
}

.contactContainer .inputClass {
  height: 50px;
  width: 75%;
  margin: 25px;
  font-size: 20px;
  font-family: inherit;
  padding-left: 10px;
}

.contactContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  width: 150px;
  height: 30px;
  font-size: inherit;
}

.contactContainer .textbox {
  height: 200px;
  width: 75%;
  font-size: 20px;
  font-family: inherit;
  margin: 20px;
}

.textbox {
  padding-left: 10px;
  padding-top: 10px;
}